@model BusinessLogic.ViewModels.LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign in</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Account"))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName)
            @Html.ValidationMessageFor(x => x.UserName, String.Empty)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password, String.Empty)
        </div>
        <button type="submit">Create</button>
    }
</body>
</html>
